/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-color: #1c161e;
  background-image: url('stars.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.scoreboard {
  color: white;
}

.board {
  background-color: #1c161e;
  position: relative;
  margin: 50px;
}

/*.backgroundSpace {
  opacity: 0.4;
  filter: alpha(opacity=40);
}*/

.enemy .player {
  position: absolute;
  z-index: 1;
  opacity: 1;
}
.enemy {
  fill: white;
}

.player {
  fill: red;
}
